/* BLOGPOST STYLING */
#blog-title, .blog-subtitle, .blog-subsubtitle {
	width: 100%;
	font-size: 1.7rem;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: .4rem;
	line-height: 1.8rem;
}
#blog-title {
	color: #2ea32e;
	margin-top: 0.9rem;
}
.backlink {
	display: flex;
	width: 100%;
}
.backlink a {
	color: #aaaaaa;
	margin-top: .5rem;
}
.backlink a:hover {
	color:  #2ea32e;
}
.blog-subtitle {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}
.blog-subsubtitle {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
#blog-content {
	width: 100%;
	margin: 1rem 0 3rem 0;
}
.blog-quote {
	border-left: 3px solid #9090DD;
	background-color: #EEEEFF;
	font-style: oblique;
	padding: .5ch 1ch .5ch 1ch;
	margin: 1ch 1ch 1ch 0ch;
}
.blog-note, .blog-error {
	border-left: 3px solid #9090DD;
	background-color: #EEEEFF;
	padding: 1ch 2ch 1ch 2ch;
	margin: 1ch 1ch 1ch 0;
} 
.blog-error {
	border-left: 3px solid #DD9090;
	background-color: #FFEEEE;
}
.blog-img {

}