body {
	background-color: #f9f9f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  line-height: 1.4rem;
}
#app {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-weight: 400;
	text-align: left;
}
a {
	color: #2ea32e;
	font-weight: 700;
	text-decoration: underline;
}
h1 {
	display: inline;
	font-weight: 800;
	font-size: 1.8rem;
	margin-bottom: 0;
	line-height: 1.6ch;
	min-width: 10ch;
	color: #2ea32e;
}
a:visited { text-decoration: none; }
a:hover { color:#258025; }
a:focus { color:#258025; }
a:active { color:#134013; }
ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 2ch;
}
li {
  padding-left: 1ch;
  text-indent: -2.2ch;
}
li:before {
  content: "\25a8";
  font-size: 0.8rem;
  padding-right: 1ch;
}
#title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-bottom: 1.5rem;
}
#contacts {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: .4rem;
}
#contacts a {
	color: #909090;
	margin: 0 1rem 0 0;
	font-weight: 400;
	text-decoration: none;
}
#contacts a:hover { text-decoration: underline; color:#2ea32e; }
#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 550px;
	padding: 0vh 1.5rem 0 1.3rem;
}
#category {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0rem 0 2rem 0;
	text-align: left;
}
#category-divider {
	background-color: #E0E0E0;
	min-height: 1px;
	margin-bottom: 1rem;
	width: 100%;
}
#category-title {
	font-size: 1.1rem;
	font-weight: 700;
	width: 200px;
	text-decoration: none;
}
#category-content {
}
#paragraph {
	padding-bottom: 2.5rem;
}
/* Projects  */
#project-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(100% + .6rem);
	font-size: .8rem;
}
.paragraph-project {
	color: black;
	text-decoration: none;
	display: block;
	flex-grow: 1;
	padding: .6rem .8rem .6rem .8rem;
	margin: .2rem;
	min-width: 220px;
	width: 40%;
	border: 1px solid lightgray;
	border-radius: 5px;
	transform: translateX(-5px);
	transition: 0.05s;
	font-weight: 400;
}
.paragraph-project:hover {
	transform: translateX(-7px) translateY(-1px);
	box-shadow: 5px 5px 10px 0px #DDDDDD;
	border-color: grey;
	color: black;
}
.paragraph-title {
	padding-bottom: .5rem;
	font-weight: 700;
}
.paragraph-project:hover .paragraph-title {
	color: #2ea32e;
}
.blog-date {
	color: #808080;
	line-height: 1.5rem;
	font-size: .8rem;
	margin-right: 1rem;
	min-width: 8ch;
	align-self: flex-start;
	text-align: right;
	font-family: monospace;
}
.blog-short{
	display: flex;
	font-size: 1.1rem;
}